language: python

matrix:
  include:
  - python: 3.5
  - python: 3.6
  - python: 3.7
  - python: 3.8
    dist: xenial
    sudo: true

install:
  - pip install -r requirements-dev.txt
  - pip install .
before_script: flake8
script: tox

notifications:
  email:
  - sharpbit3618@gmail.com